<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<!-- 等级及继承：ALL、TRACE、DEBUG、INFO、WARN、ERROR、OFF -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 保存日志的基本路径 -->
	<!--<property name="LOG_HOME" value="${catalina.base}/logs/" />--> 
	<property name="LOG_HOME" value="${webApp.root}/WEB-INF/logs/" /><!--开发的时候用这个路径    发布的时候可以改用上面那个 -->

	
	<!-- 保存日志的周期及文件命名规则 yy:MM:dd HH:mm:ss.SSS -->
	<property name="LOG_PERIOD" value="yyMMdd" />
	<!-- 保存日志的周期数，即保留多少个周期的日志 -->
	<property name="LOG_KEEP" value="48" />
	<!-- 保存日志的单个周期内，按大小分文件，单位支持bytes,KB,MB,GB -->
	<property name="LOG_KEEP_MAXSIZE" value="1MB" />
	<!-- 保存日志的后缀名，.zip可以控制是否压缩 -->
	<!-- 客户端的滚动日志，统一后缀名与服务器端不同，以免直接拷贝粘贴产生文件名称冲突 -->
	<property name="LOG_ROLL_POSTFIX" value="log.zip" />
	<!-- 客户端的当前日志，统一后缀名与服务器端不同，以免直接拷贝粘贴产生文件名称冲突 -->
	<property name="LOG_POSTFIX" value="log" />

	<appender name="appender-mainLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
  			<level>DEBUG</level>
		</filter>
		<file>${LOG_HOME}/mainLog/mainLog.${LOG_POSTFIX}</file>
		<!-- 滚动策略:基于时间的滚动策略（此策略既定义滚动方式，又同时定义滚动条件） -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/mainLog/mainLog_%d{${LOG_PERIOD}}_%i.${LOG_ROLL_POSTFIX}
			</fileNamePattern>
			<!-- 滚动条件:按文件大小 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 文件的大小设置，单位支持bytes,KB,MB,GB -->
				<maxFileSize>${LOG_KEEP_MAXSIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${LOG_KEEP}</maxHistory>
		</rollingPolicy>
		<encoder>
		<pattern>%d{MMdd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n</pattern>
		</encoder>
	</appender>
	

	
	<!-- 调试配置【控制台输出ERROR级别以上的信息，文件输出INFO级别以上的信息】-->
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="appender-mainLogger" />
	</root>
	
	<!-- mainLogger -->
	<logger name="mainLogger" level="ALL" additivity="true">
		<appender-ref ref="appender-mainLogger" />
	</logger>
	
	
	

</configuration>
