<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.server.beans.User" >
    <id column="account" property="account" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="lastlogintime" property="lastlogintime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    account, password, lastlogintime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where account = #{account,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.server.beans.User" >
    insert into user (account, password, lastlogintime
      )
    values (#{account,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{lastlogintime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.server.beans.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="lastlogintime != null" >
        lastlogintime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="account != null" >
        #{account,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.server.beans.User" >
    update user
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="lastlogintime != null" >
        lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where account = #{account,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.server.beans.User" >
    update user
    set password = #{password,jdbcType=CHAR},
      lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP}
    where account = #{account,jdbcType=CHAR}
  </update>
</mapper>