target/
server/FSApp/target/
server/RemoteSystemsTempFiles/
server/FSApp/log/
server/FSPlatform/log/
server/FSPlatform/tmp/
server/FSPlatform/.settings/


*.class
.metadata/

client/Library/
client/Temp/
*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
DZFS_RES/
.svn/


server.properties
ArtTemp/
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
client/Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
RXFS-csharp.sln
RXFS.sln
RXFS.userprefs
UnityVS.RXFS.CSharp.Editor.csproj
UnityVS/
.RXFS.CSharp.Plugins.csproj
UnityVS.RXFS.CSharp.csproj
UnityVS.RXFS.sln
UnityVS.RXFS.v12.suo
obj/
proj.android
proj.ios
Branch-csharp.sln
Branch.sln
Branch.userprefs
FE_RES/
TmpStreamingAssets/
Xcode_YHSDK/
Client-csharp.sln
Client.sln
Client.userprefs

._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/server/FSApp/datalogs/20160317/*.log
/server/FSApp/datalogs/20160318/*.log
/server/FSApp/datalogs/20160319/*.log
/server/FSApp/datalogs/methodtrace/*.log
datalogs
/server/FSApp/src/main/resources/config.properties
/server/FSApp/src/main/resources/server.properties