<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-init-method="init">
	
	<bean class="com.bm.arena.ArenaScoreCfgDAO"  init-method="init" />
	<bean class="com.bm.arena.RobotHeroCfgDAO"  init-method="init" />
	<bean class="com.bm.arena.RobotCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaCostCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaPrizeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaRobotCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaRuleCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaUpPrizeCfgDAO"  init-method="init" />
	<!--
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerBossCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerConfigCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerFloorCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerRewardCfgDao"  init-method="init" />
	-->
	<bean class="com.rwbase.dao.business.SevenDayGifCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.BuyLevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.CopyCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.DropItemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.GiftCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.ItemProbabilityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.MapCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyEntryCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyLevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.dropitem.DropAdjustmentCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.dropitem.DropCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.email.EmailCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fashion.FashionCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fighting.FightingWeightCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fresherActivity.FresherActivityCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fresherActivity.FresherActivityFinalRewardCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.friend.CfgFriendGiftDAO"  init-method="init" />
	<bean class="com.rwbase.dao.gamble.pojo.cfg.GambleCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.gamble.pojo.cfg.GambleRewardCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.guide.GuideCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.gulid.CfgGuildDAO"  init-method="init" />
	<bean class="com.rwbase.dao.gulid.CfgGuildLevelDAO"  init-method="init" />
	<bean class="com.rwbase.dao.gulid.CfgGuildLogDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.ComposeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.ConsumeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.GemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.HeroEquipCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.MagicCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.PieceCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.PlayerInitialItemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.SoulStoneCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicExpCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicSmeltCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.magicweapon.CriticalEnhanceCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.CriticalSeqCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.mainmsg.CfgPmdDAO"  init-method="init" />
	<bean class="com.rwbase.dao.openLevelLimit.CfgOpenLevelLimitDAO"  init-method="init" />
	<bean class="com.rwbase.dao.peakArena.PeakArenaPrizeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.peakArena.PeakArenaScoreCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.power.RoleUpgradeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.publicdata.PublicDataCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.ranking.CfgRankingDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.EquipAttachCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.InlayCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.RoleCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.RoleQualityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.secretArea.SecretAreaCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.secretArea.SecretBuyCoinCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.secretArea.SecretFindExpendCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.setting.HeadBoxCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.setting.HeadCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.sign.ReSignCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.sign.SignCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.skill.SkillCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.skill.SkillFeeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.store.CommodityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.store.StoreCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.task.DailyActivityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.task.TaskCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerAwardCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerFightLimitDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerFirstAwardCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerGoodsCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.unendingwar.CfgUnendingWarDAO"  init-method="init" />
	<bean class="com.rwbase.dao.unendingwar.UnendingWarInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuyCoinDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuyPowerDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuySkillDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgChangeRoleInfoDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.LevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.version.VersionConfigDAO"  init-method="init" />
	<bean class="com.rwbase.dao.vip.PrivilegeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.vip.RechargeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.worship.CfgWorshipRandomRewardHelper"  init-method="init" />
	<bean class="com.rwbase.dao.worship.CfgWorshipRankdomSchemeHelper"  init-method="init" />
	<bean class="com.rwbase.dao.worship.CfgWorshipRewardHelper"  init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupConfigCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupDonateCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupFunctionCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupLevelCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillCfgDAO" init-method="init" /> 
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillLevelCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillAttributeCfgDAO" init-method="init" />
	
	<bean class="com.groupCopy.rwbase.dao.groupCopy.cfg.GroupCopyMapCfgDao" init-method="init" />
	
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerConfigCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerRewardCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerFloorCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerBossCfgDao"  init-method="init" />
	
	<bean class="com.rwbase.dao.anglearray.pojo.cfg.dao.AngleArrayMatchCfgCsvDao"  init-method="init" />
	
	<bean class="com.rwbase.dao.item.SpecialItemCfgDAO"  init-method="init" />
	<bean class="com.gm.giftCenter.GiftCodeSenderBm"  init-method="init" />
	
	
	<!--  
	<bean class="com.rwbase.dao.gulid.CfgGuildIconDAO"  init-method="init" />
	<bean class="com.rwbase.dao.hero.HeroEquipStrenghCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.RoleEquipCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.QualityTypeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.platform.PlatformConfigDAO"  init-method="init" />
	<bean class="com.rwbase.dao.userrole.AdvanceCfgDAO"  init-method="init" />
	 -->
	
</beans>  