<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-init-method="init">

	<!-- controller for actions -->
	<bean id="fsControlerHandler" class="com.rw.controler.FsControlerHandler" />
	
	<bean id="serverConfig" class="com.rw.netty.ServerConfig">
		<property name="zoneId" value="${zoneId}" />
	</bean>
	
	<bean id="gmServer" class="com.gm.GmServer" depends-on="serverConfig">
		<property name="gmAccount" value="${gmAccount}" />
		<property name="gmPassword" value="${gmPassword}" />
	</bean>
	<!-- -->
	
	<bean id="chargeHttpServer" class="com.rw.chargeServer.ChargeHttpServer" depends-on="serverConfig"/>
	
	<bean id="RouterHttpServer" class="com.rw.routerServer.RouterHttpServer" depends-on="serverConfig"/>
	
	<bean id="serverVersionConfig" class="com.rw.manager.ServerVersionConfig">
		<property name="version" value="${version}" />
	</bean>


	<bean id="fsNettyControler" class="com.rw.controler.FsNettyControler" >

		<property name="commandMap">
			<map key-type="com.rwproto.MsgDef$Command">
			    <entry key="MSG_MainService" value-ref="mainService" />
			    <entry key="MSG_SKILL" value-ref="skillSerice" />
			    <entry key="MSG_CopyService" value-ref="copySerice" />
			    <entry key="MSG_Hero" value-ref="heroService" />
			    <entry key="MSG_GM" value-ref="gmService"/>
			    <entry key="MSG_ItemBag" value-ref="itemBagService"/>
			    <entry key="MSG_MAGIC" value-ref="magicService" />
			    <entry key="MSG_ROLE" value-ref="roleService" />
			    <entry key="MSG_GAMBLE" value-ref="gambleService" />
			    <entry key="MSG_CHAT" value-ref="chatService" />
			    <entry key="MSG_EMAIL" value-ref="emailService" />
			    <entry key="MSG_TRIAL" value-ref="copyTrialService" />
			    <entry key="MSG_EQUIP" value-ref="equipService" />
			    <entry key="MSG_RANKING" value-ref="rankingService" />
			    <entry key="MSG_DAILY_ACTIVITY" value-ref="dailyActivityService" />
			    <entry key="MSG_ARENA" value-ref="arenaService" />
			    <entry key="MSG_FRIEND" value-ref="friendService" />
			    <entry key="MSG_SIGN" value-ref="signService" />
			    <entry key="MSG_SETTING" value-ref="settingService" />
			    <entry key="MSG_OtherRoleAttr" value-ref="otherRoleAttrService" />
			    <entry key="MSG_TOWER" value-ref="towerService" />
			    <entry key="MSG_STORE" value-ref="storeService" />
			    <entry key="MSG_Worship" value-ref="worshipService" />
			    <entry key="MSG_UnendingWar" value-ref="unendingWarService" />
			    <entry key="MSG_TASK" value-ref="taskService" />
			    <entry key="MSG_PEAK_ARENA" value-ref="peakArenaService" />
			     <!--entry key="MSG_GUIDE" value-ref="guideService" /-->
			     <entry key="MSG_ERRORINFO" value-ref="errorInfoService" />
			     <entry key="MSG_Inlay" value-ref="inlayService" />
			     <entry key="MSG_MainMsg" value-ref="mainMsgService" />
			     <entry key="MSG_BATTLE_TOWER" value-ref="battleTowerService" />
			     <entry key="MSG_FASHION" value-ref="fashionService" />
			     <entry key="MSG_NEW_GUIDE" value-ref="newGuideService"/>
			     <entry key="MSG_PLOT" value-ref="plotService"/>
			     <entry key="MSG_PLAYER_LOGOUT" value-ref="playerLogoutService"/>
			     <entry key="MSG_DailyGif" value-ref="dailyGifService"/>
			     <entry key="MSG_FRSH_ACT" value-ref="fresherActivityService"/>
			     <entry key="MSG_PVE_INFO" value-ref="pveInfo"/>
			     <entry key="MSG_NOTICE" value-ref="gameNotice"/>
			     
			     <entry key="MSG_GROUP" value-ref="groupBaseManagerService" />
			     <entry key="MSG_GROUP_MEMBER_MANAGER" value-ref="groupMemberManagerService" />
			     <entry key="MSG_GROUP_PERSONAL" value-ref="groupPersonalService" />
			     <entry key="MSG_GROUP_SKILL" value-ref="groupSkillService" />
			     <entry key="MSG_GIFT_CODE" value-ref="giftCodeService" />
			     
			     <entry key="MSG_ACTIVITY_COUNTTYPE" value-ref="activityCountTypeService" />
			     <entry key="MSG_ACTIVITY_TIME_COUNT_TYPE" value-ref="activityTimeCountTypeService" />
			     <entry key="MSG_ACTIVITY_DAILY_TYPE" value-ref="activityDailyTypeService" />
			     <entry key="MSG_ACTIVITY_EXCHANGE_TYPE" value-ref="activityExchangeTypeService" />
			     <entry key="MSG_ACTIVITY_VITALITY_TYPE" value-ref="activityVitalityTypeService" />
			     <entry key="MSG_ACTIVITY_DailyDiscount_TYPE" value-ref="activityDailyDiscountTypeService" />
			     <entry key="MSG_ACTIVITY_RedEnvelope_TYPE" value-ref="activityRedEnvelopeTypeService" />
			     <entry key="MSG_ACTIVITY_FORTUNECAT_TYPE" value-ref="activityFortuneCatTypeService" />
			     <entry key="MSG_ACTIVITY_DAILY_CHARGE_TYPE" value-ref="activityDailyChargeTypeService" />
			     <entry key="MSG_ACTIVITY_LimitHero_TYPE" value-ref="activityLimitHeroTypeService" />
			     <entry key="MSG_ACTIVITY_RETRIEVE" value-ref="activityRetrieveTypeService" />
			     <entry key="MSG_ACTIVITY_EVILBAO" value-ref="activityEvilBaoArriveService" />
			     <entry key="MSG_ACTIVITY_CHARGE_RANK" value-ref="activityChargeRankService" />
			     <entry key="MSG_ACTIVITY_COMMON_TYPE" value-ref="activityCommonTypeService" />
			     
			     
			     <entry key="MSG_CHARGE" value-ref="chargeService" />
			     <entry key="MSG_TAOIST" value-ref="taoistService" />
			     <entry key="MSG_MAGIC_SECRET" value-ref="magicSecretService" />
			     <entry key="MSG_FEEDBACK" value-ref="feedbackService" />
			     <entry key="MSG_FIX_EQUIP" value-ref="fixEquipService" />
			     
		     	<entry key="MSG_GROUP_SECRET" value-ref="groupSecretService" />
     			<entry key="MSG_GROUP_SECRET_MATCH" value-ref="groupSecretServiceMatch" />
     			<entry key="MSG_GROUP_FIGHT_ONLINE" value-ref="gfightOnlineService" />
			     
			     <entry key="MSG_GROUP_COPY_ADMIN" value-ref="groupCopyAdminService" />
			     <entry key="MSG_GROUP_COPY_BATTLE" value-ref="groupCopyBattleService"/>
			     <entry key="MSG_GROUP_COPY_CMD" value-ref="groupCopyCmdService" />
			     
			     <entry key="MSG_CHAT_REQUEST_PRIVATE_CHATS" value-ref="chatService" />
			     <entry key="MSG_CHAT_SET_CURRENT_TARGET" value-ref="chatService" />
     			
     			<entry key="MSG_RED_POINT_SERVICE" value-ref="redpointService" />
     			
     			<entry key="MSG_TEAM_BATTLE" value-ref="teamBattleService" />
     			<entry key="MSG_ONE_KEY_REWARD" value-ref="oneKeyService" />
     			<entry key="MSG_BATTLE_COMMON" value-ref="saveTeaminfoToServerService" />

     			<entry key="MSG_SYN_DATA_SERVICE" value-ref="synDataService" />
     			
     			<entry key="MSG_FIGHTING_GROWTH_REQUEST_UI_DATA" value-ref="userFightingGrowthService" />
     			<entry key="MSG_FIGHTING_GROWTH_REQUEST_UPGRADE" value-ref="userFightingGrowthService" />

     			<entry key="MSG_GROUP_COMPETITION" value-ref="groupCompetitionService" />
     			<entry key="MSG_GROUP_COMPETITION_GET_DATA" value-ref="groupCompetitionDataService" />
				<entry key="MSG_GROUP_COMPETITION_QUIZ" value-ref="groupCompQuizService" />
				<entry key="MSG_GROUP_COMPETITION_QUIZ_SYN" value-ref="groupCompCanQuizService" />
     			<entry key="MSG_GROUP_COMPETITION_GET_DATA" value-ref="groupCompetitionDataService" />
     			<entry key="MSG_GROUP_COMPETITION_TEAM_REQ" value-ref="groupCompetitionEventsService" />
     			<entry key="MSG_GROUP_COMPETITION_TEAM_MEMBER_REQ" value-ref="groupCompetitionEventsService" />
     			<entry key="MSG_GROUP_COMPETITION_TEAM_STATUS_REQ" value-ref="groupCompetitionEventsService" />
     			<entry key="MSG_GROUP_JOIN_TEAM_REQ" value-ref="groupCompetitionEventsService" />
     			<entry key="MSG_RANDOM_BOSS" value-ref="randomBossService" />
     			
     			<entry key="MSG_GROUP_COMPETITION_BATTLE" value-ref="groupCompetitionBattleService" />
     			
     			<entry key="MSG_BUY_GROWTH_FUND" value-ref="growthFundService" />

     			<entry key="MSG_BENEFIT_ITEM" value-ref="targetSellService" />
     			
     			<entry key="MSG_PRAISE" value-ref="praiseService" />
     			<entry key="MSG_SPRITE_ATTACH_UPGRADE" value-ref="spriteAttachService" />
     			
     			<entry key="MSG_COMMON_SOUL" value-ref="commonSoulService" />
     			<entry key="MSG_SALOON" value-ref="saloonService" />
     			<entry key="MSG_WORLD_BOSS" value-ref="worldBossService" />
     			<entry key="MSG_BATTLE_VERIFY" value-ref="battleVerifyService" />
			</map>
		</property>
	</bean>
	<bean id="newGuideService" class="com.rw.service.guide.NewGuideService"/>
	<bean id="plotService" class="com.rw.service.plot.PlotService"/>
	<bean id="playerLogoutService" class="com.rw.service.player.PlayerService"/>
	<bean id="mainService" class="com.rw.service.main.MainService"  />
	<bean id="skillSerice" class="com.rw.service.skill.SkillService"  />
	<bean id="copySerice" class="com.rw.service.copy.CopyService"  />
	<bean id="heroService" class="com.rw.service.hero.HeroService"  />
	<bean id="gmService" class="com.rw.service.gm.GMService"  />
	<bean id="itemBagService" class="com.rw.service.item.ItemBagService"  />
	
	<bean id="magicService" class="com.rw.service.magic.MagicService"  />
	<bean id="roleService" class="com.rw.service.role.RoleService"  />
	<bean id="gambleService" class="com.rw.service.gamble.GambleService"  />
	<bean id="chatService" class="com.rw.service.chat.ChatService" />
	<bean id="emailService" class="com.rw.service.Email.EmailService" />
	<bean id="copyTrialService" class="com.rw.service.copypve.CopyTrialService"  />
	<bean id="equipService" class="com.rw.service.Equip.EquipService"  />
	<bean id="rankingService" class="com.rw.service.ranking.RankingService"  />
	<bean id="dailyActivityService" class="com.rw.service.dailyActivity.DailyActivityService"  />
	
	<bean id="peakArenaService" class="com.rw.service.PeakArena.PeakArenaService"  />
	<bean id="arenaService" class="com.rw.service.arena.ArenaService"  />
	<bean id="towerService" class="com.rw.service.tower.TowerService"  />
	
	<bean id="friendService" class="com.rw.service.friend.FriendService"  />
	<bean id="signService" class="com.rw.service.sign.SignService"  />
	<bean id="settingService" class="com.rw.service.setting.SettingService"  />
	<bean id="otherRoleAttrService" class="com.rw.service.role.OtherRoleAttrService"  />
	<bean id="storeService" class="com.rw.service.store.StoreService"  />
	<bean id="worshipService" class="com.rw.service.worship.WorshipService"  />
	<bean id="unendingWarService" class="com.rw.service.unendingwar.UnendingWarService"  />
	<bean id="taskService" class="com.rw.service.task.TaskService"  />
	<!--  bean id="guideService" class="com.rw.service.guide.GuideService"  /-->
	<bean id="errorInfoService" class="com.rw.service.gm.ErrorInfoService"  />
	<bean id="inlayService" class="com.rw.service.inlay.InlayService"  />
	<bean id="mainMsgService" class="com.rw.service.role.MainMsgService"  />
	<bean id="dailyGifService" class="com.rw.service.dailygif.DailyGifService"  />
	<bean id="battleTowerService" class="com.rw.service.battletower.BattleTowerService"/>
	<bean id="fashionService" class="com.rw.service.fashion.FashionService"  />
	<bean id="fresherActivityService" class="com.rw.service.FresherActivity.FresherActivityService"  />
	<bean id="pveInfo" class="com.rw.service.pve.PveService"/>
	<bean id="gameNotice" class="com.rw.service.gamenotice.GameNoticeService"/>
	
	<bean id="groupBaseManagerService" class="com.rw.service.group.GroupBaseManagerService"  />
	<bean id="groupMemberManagerService" class="com.rw.service.group.GroupMemberManagerService"  />
	<bean id="groupPersonalService" class="com.rw.service.group.GroupPersonalService"  />
	<bean id="groupSkillService" class="com.rw.service.group.GroupSkillService"  />
	<bean id="giftCodeService" class="com.rw.service.giftcode.GiftCodeService"  />
	
	<bean id="activityCountTypeService" class="com.playerdata.activity.countType.service.ActivityCountTypeService"  />
	<bean id="activityTimeCountTypeService" class="com.playerdata.activity.timeCountType.service.ActivityTimeCountTypeService"  />
	<bean id="activityDailyTypeService" class="com.playerdata.activity.dailyCountType.service.ActivityDailyTypeService"  />
	<bean id="activityExchangeTypeService" class="com.playerdata.activity.exChangeType.service.ActivityExchangeTypeService"  />
	<bean id="activityDailyDiscountTypeService" class="com.playerdata.activity.dailyDiscountType.service.ActivityDailyDiscountTypeService"  />
	<bean id="activityRedEnvelopeTypeService" class="com.playerdata.activity.redEnvelopeType.service.ActivityRedEnvelopeTypeService"  />
	<bean id="activityDailyChargeTypeService" class="com.playerdata.activity.dailyCharge.service.ActivityDailyRechargeTypeService" />
	<bean id="activityLimitHeroTypeService" class="com.playerdata.activity.limitHeroType.service.ActivityLimitHeroTypeService"  />
	<bean id="activityEvilBaoArriveService" class = "com.playerdata.activity.evilBaoArrive.service.ActivityEvilBaoArriveService" />
	<bean id="activityFortuneCatTypeService" class="com.playerdata.activity.fortuneCatType.service.ActivityFortuneCatTypeService"  />
	<bean id="activityVitalityTypeService" class="com.playerdata.activity.VitalityType.service.ActivityVitalityTypeService"  />
	<bean id="activityChargeRankService" class="com.playerdata.activity.chargeRank.service.ActivityChargeRankService"  />
	<bean id="activityCommonTypeService" class="com.playerdata.activity.shakeEnvelope.service.ActivityService" />
	
	<bean id="chargeService" class="com.playerdata.charge.service.ChargeService"  />
	<bean id="taoistService" class="com.rw.service.TaoistMagic.TaoistService"  />
	<bean id="magicSecretService" class="com.playerdata.mgcsecret.service.MagicSecretService"/>
	<bean id="feedbackService" class="com.rw.service.customer.FeedbackService"  />
	<bean id="fixEquipService" class="com.playerdata.fixEquip.FixEquipService"  />
	
	
	
	<bean id="groupSecretService" class="com.rw.service.groupsecret.GroupSecretService"  />
	<bean id="groupSecretServiceMatch" class="com.rw.service.groupsecret.GroupSecretMatchService"  />
	<bean id="gfightOnlineService" class="com.playerdata.groupFightOnline.service.GFightOnlineService"/>
	
	<bean id="groupCopyAdminService" class="com.rw.service.groupCopy.GroupCopyAdminService"  />
	<bean id="groupCopyBattleService" class="com.rw.service.groupCopy.GroupCopyBattleService" />
	<bean id="groupCopyCmdService" class="com.rw.service.groupCopy.GroupCopyCmdService" />
	
	<bean id="teamBattleService" class = "com.playerdata.teambattle.service.TeamBattleService" />
	<bean id="oneKeyService" class = "com.rw.service.task.OneKeyService" />
	<bean id="redpointService" class="com.rw.service.redpoint.RedPointService"/>
	<bean id="saveTeaminfoToServerService" class="com.playerdata.saveteaminfo.SaveTeaminfoToServerService"/>
	
	<bean id="synDataService" class="com.playerdata.dataSyn.service.SynDataService"/>
	
	<bean id="userFightingGrowthService" class="com.rw.service.fightinggrowth.FSUserFightingGrowthService" />
	
	<bean id="activityRetrieveTypeService" class="com.playerdata.activity.retrieve.service.ActivityRetrieveTypeService" />
	
	<bean id="groupCompetitionService" class="com.playerdata.groupcompetition.service.GroupCompetitionService" />
	<bean id="groupCompetitionDataService" class="com.playerdata.groupcompetition.service.GroupCompetitionGetDataService" />
	<bean id="groupCompQuizService" class="com.playerdata.groupcompetition.service.GroupCompQuizService" />
	<bean id="groupCompCanQuizService" class="com.playerdata.groupcompetition.service.GroupCompQuizSynService" />
	<bean id="groupCompetitionEventsService" class="com.playerdata.groupcompetition.service.GroupCompetitionEventsService" />


	<bean id="randomBossService" class="com.rw.service.ranodmBoss.RandomBossService" />
	
	<bean id="groupCompetitionBattleService" class="com.playerdata.groupcompetition.service.GroupCompetitionBattleService" />
	
	<bean id="growthFundService" class="com.playerdata.activity.growthFund.service.GrowthFundService" />
	
	<bean id="targetSellService" class="com.rw.service.targetSell.TargetSellService" />
	
	<bean id="praiseService" class="com.rw.service.praise.PraiseService" />
	<bean id="spriteAttachService" class="com.rw.service.spriteAttach.SpriteAttachService" />
	
	
	<bean id="commonSoulService" class="com.playerdata.commonsoul.CommonSoulService" />
	<bean id="saloonService" class="com.bm.saloon.service.SaloonService" />
	
	<bean id="worldBossService"  class="com.bm.worldBoss.service.WBService" />
	
	<bean id="battleVerifyService"  class="com.playerdata.battleVerify.BattleVerifyService" />
</beans>  