<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-init-method="init">

	<bean class="com.common.CfgChecker"/>

	<bean class="com.rw.service.friend.datamodel.RecommandConditionCfgDAO"  init-method="init" />
	<bean class="com.rw.service.friend.datamodel.RecommandCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.attribute.AttributeLanguageCfgDAO"  init-method="init" />
	<bean class="com.rw.shareCfg.ChineseStringHelper"  init-method="init" />
	
	<bean class="com.bm.arena.ArenaRankCfgDAO"  init-method="init" />
	<bean class="com.bm.arena.ArenaScoreCfgDAO"  init-method="init" />
	<bean class="com.bm.arena.RobotHeroCfgDAO"  init-method="init" />
	<bean class="com.bm.arena.RobotCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaCostCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaPrizeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaRobotCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaRuleCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.arena.ArenaUpPrizeCfgDAO"  init-method="init" />
	<!--
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerBossCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerConfigCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerFloorCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerRewardCfgDao"  init-method="init" />
	-->
	<bean class="com.rwbase.dao.business.SevenDayGifCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.BuyLevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.CopyCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.FortuneResultCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.DropItemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.GiftCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.ItemProbabilityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copy.cfg.MapCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyEntryCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.copypve.CopyLevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.dropitem.DropAdjustmentCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.dropitem.DropCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.email.EmailCfgDAO"  init-method="init" />
		
	<bean class="com.rwbase.dao.fashion.FashionCommonCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fashion.FashionEffectCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fashion.FashionBuyRenewCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fashion.FashionQuantityEffectCfgDao"  init-method="init" />
	
	<bean class="com.rwbase.dao.fighting.FightingWeightCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fresherActivity.FresherActivityCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.fresherActivity.FresherActivityFinalRewardCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.friend.CfgFriendGiftDAO"  init-method="init" />
	
	<bean class="com.rw.service.gamble.datamodel.GamblePlanCfgHelper"  init-method="init" />
	<bean class="com.rw.service.gamble.datamodel.GambleDropCfgHelper"  init-method="init" />
	<bean class="com.rw.service.gamble.datamodel.HotGambleCfgHelper"  init-method="init" />
	<bean class="com.rw.service.gamble.datamodel.DropMissingCfgHelper"  init-method="init" />
	
	<bean class="com.rw.service.guide.datamodel.GiveItemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.ComposeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.ConsumeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.GemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.HeroEquipCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.MagicCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.PieceCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.PlayerInitialItemCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.SoulStoneCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicExpCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicSmeltCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.magicweapon.CriticalEnhanceCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.CriticalSeqCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.mainmsg.CfgPmdDAO"  init-method="init" />
	<bean class="com.rwbase.dao.openLevelLimit.CfgOpenLevelLimitDAO"  init-method="init" />
	<bean class="com.rwbase.dao.openLevelTiggerService.CfgOpenLevelTiggerServiceDAO"  init-method="init" />
	
	<bean class="com.rw.service.PeakArena.datamodel.peakArenaBuyCostHelper"  init-method="init" />
	<bean class="com.rw.service.PeakArena.datamodel.peakArenaResetCostHelper"  init-method="init" />
	<bean class="com.rw.service.PeakArena.datamodel.peakArenaInfoHelper"  init-method="init" />
	<bean class="com.rw.service.PeakArena.datamodel.peakArenaPrizeHelper"  init-method="init" />
	<bean class="com.rw.service.PeakArena.datamodel.peakArenaMatchRuleHelper"  init-method="init" />
	<bean class="com.rw.service.PeakArena.datamodel.PeakArenaCloseCfgHelper"  init-method="init" />
	<bean class="com.rwbase.dao.peakarena.PeakArenaScoreRewardCfgDAO" init-method="init" />
	
	<bean class="com.rwbase.dao.power.RoleUpgradeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.publicdata.PublicDataCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.ranking.CfgRankingDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.EquipAttachCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.InlayCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.RoleCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.RoleQualityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.RoleQualityColorCfgDAO"  init-method="init" />

	<bean class="com.rwbase.dao.setting.HeadBoxCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.setting.HeadCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.sign.ReSignCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.sign.SignCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.skill.SkillCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.skill.SkillFeeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.store.CommodityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.store.StoreCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.task.DailyActivityCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.task.TaskCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerAwardCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerFightLimitDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerFirstAwardCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.tower.TowerGoodsCfgDAO"  init-method="init" />
	
	<bean class="com.rw.service.TaoistMagic.datamodel.TaoistConsumeCfgHelper"  init-method="init" />
	<bean class="com.rw.service.TaoistMagic.datamodel.TaoistCriticalPlanCfgHelper"  init-method="init" />
	<bean class="com.rw.service.TaoistMagic.datamodel.TaoistMagicCfgHelper"  init-method="init" />
	
	<bean class="com.rwbase.dao.unendingwar.CfgUnendingWarDAO"  init-method="init" />
	<bean class="com.rwbase.dao.unendingwar.UnendingWarInfoCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuyCoinDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuyPowerDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgBuySkillDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.CfgChangeRoleInfoDAO"  init-method="init" />
	<bean class="com.rwbase.dao.user.LevelCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.version.VersionConfigDAO"  init-method="init" />
	<bean class="com.rwbase.dao.vip.PrivilegeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.vip.RechargeCfgDAO"  init-method="init" />
	
	<bean class="com.rw.service.Privilege.datamodel.arenaPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.arenaPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.peakArenaPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.peakArenaPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.pvePrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.pvePrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.copyPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.copyPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.generalPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.generalPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.groupPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.groupPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.heroPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.heroPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.loginPrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.loginPrivilegePropertiesHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.storePrivilegeHelper"  init-method="init" />
	<bean class="com.rw.service.Privilege.datamodel.storePrivilegePropertiesHelper"  init-method="init" />
	
	<!-- <bean class="com.rwbase.dao.worship.CfgWorshipRandomRewardHelper"  init-method="init" /> -->
	<!-- <bean class="com.rwbase.dao.worship.CfgWorshipRankdomSchemeHelper"  init-method="init" /> -->
	<bean class="com.rwbase.dao.worship.CfgWorshipRewardHelper"  init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupConfigCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupDonateCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupFunctionCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupLevelCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillCfgDAO" init-method="init" /> 
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillLevelCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.group.pojo.cfg.dao.GroupSkillAttributeCfgDAO" init-method="init" />
	
	<bean class="com.rwbase.dao.groupCopy.cfg.GroupCopyMapCfgDao" init-method="init" />
	<bean class="com.rwbase.dao.groupCopy.cfg.GroupCopyLevelCfgDao" init-method="init" />
	<bean class="com.rwbase.dao.groupCopy.cfg.GroupCopyDonateCfgDao" init-method="init" />
	<bean class="com.rwbase.dao.groupCopy.cfg.GroupCopyMailCfgDao" init-method="init" />
	
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerConfigCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerRewardCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerFloorCfgDao"  init-method="init" />
	<bean class="com.rwbase.dao.battletower.pojo.cfg.dao.BattleTowerBossCfgDao"  init-method="init" />

	<bean class="com.rwbase.dao.angelarray.pojo.cfg.dao.AngelArrayMatchCfgCsvDao"  init-method="init" />
	<bean class="com.playerdata.activity.countType.cfg.ActivityCountTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.countType.cfg.ActivityCountTypeSubCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.SpecialItemCfgDAO"  init-method="init" />
	<bean class="com.gm.giftCenter.GiftCodeSenderContext"  init-method="init" />
	<bean class="com.rwbase.dao.gift.ComGiftCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.skill.SkillEffectCfgDAO" init-method="init" />
	
	<bean class="com.playerdata.charge.cfg.FirstChargeCfgDao"  init-method="init" />
	<bean class="com.playerdata.charge.cfg.ChargeCfgDao"  init-method="init" />
	<bean class="com.playerdata.activity.timeCardType.cfg.ActivityTimeCardTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.timeCardType.cfg.ActivityTimeCardTypeSubCfgDAO"  init-method="init" />
	<bean class="com.playerdata.charge.cfg.VipGiftCfgDao"  init-method="init" />
	<bean class="com.playerdata.activity.dailyCountType.cfg.ActivityDailyTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.dailyCountType.cfg.ActivityDailyTypeSubCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.rateType.cfg.ActivityRateTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.timeCountType.cfg.ActivityTimeCountTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.timeCountType.cfg.ActivityTimeCountTypeSubCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.exChangeType.cfg.ActivityExchangeTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.exChangeType.cfg.ActivityExchangeTypeSubCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.exChangeType.cfg.ActivityExchangeTypeDropCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.VitalityType.cfg.ActivityVitalityCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.VitalityType.cfg.ActivityVitalitySubCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.VitalityType.cfg.ActivityVitalityRewardCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.rankType.cfg.ActivityRankTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.rankType.cfg.ActivityRankTypeSubCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.dailyDiscountType.cfg.ActivityDailyDiscountTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.dailyDiscountType.cfg.ActivityDailyDiscountTypeSubCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.dailyDiscountType.cfg.ActivityDailyDiscountItemCfgDao"  init-method="init" />
	
	<bean class="com.playerdata.activity.redEnvelopeType.cfg.ActivityRedEnvelopeTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.redEnvelopeType.cfg.ActivityRedEnvelopeTypeSubCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.fortuneCatType.cfg.ActivityFortuneCatTypeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.fortuneCatType.cfg.ActivityFortuneCatTypeSubCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.dailyCharge.cfg.ActivityDailyChargeCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.dailyCharge.cfg.ActivityDailyChargeSubCfgDAO"  init-method="init" />
	
	
	<bean class="com.playerdata.activity.limitHeroType.cfg.ActivityLimitHeroCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.limitHeroType.cfg.ActivityLimitHeroBoxCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.limitHeroType.cfg.ActivityLimitHeroRankCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.limitHeroType.cfg.ActivityLimitGamblePlanCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.limitHeroType.cfg.ActivityLimitGambleDropCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.activity.retrieve.cfg.RewardBackCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.retrieve.cfg.NormalRewardsCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.retrieve.cfg.PerfectRewardsCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.upgrade.VersionUpdateCfgDao"  init-method="init" />
	
	<!-- 羁绊 -->
	<bean class="com.rwbase.dao.fetters.pojo.cfg.dao.FettersBaseCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fetters.pojo.cfg.dao.FettersConditionCfgDAO"  init-method="init" />
	
	<!-- Buffer表 -->
	<bean class="com.rwbase.dao.battle.pojo.BufferCfgDAO"  init-method="init" />
	<!-- 道具使用效果 -->
	<bean class="com.rwbase.dao.item.ItemUseEffectCfgDAO"  init-method="init" />

	<bean class="com.gm.customer.PlayerQuestionService"  init-method="init" />
	
	<!-- 专属装备 -->
	<bean class="com.playerdata.fixEquip.cfg.FixEquipCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.cfg.RoleFixEquipCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.fixEquip.exp.cfg.FixExpEquipLevelCostCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.exp.cfg.FixExpEquipLevelCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.exp.cfg.FixExpEquipQualityCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.exp.cfg.FixExpEquipStarCfgDAO"  init-method="init" />
	
	<bean class="com.playerdata.fixEquip.norm.cfg.FixNormEquipLevelCostCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.norm.cfg.FixNormEquipLevelCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.norm.cfg.FixNormEquipQualityCfgDAO"  init-method="init" />
	<bean class="com.playerdata.fixEquip.norm.cfg.FixNormEquipStarCfgDAO"  init-method="init" />
	
	<!-- 法宝秘境 -->
	<bean class="com.playerdata.mgcsecret.cfg.BuffBonusCfgDAO"  init-method="init" />
	<bean class="com.playerdata.mgcsecret.cfg.DungeonScoreCfgDAO"  init-method="init" />
	<bean class="com.playerdata.mgcsecret.cfg.DungeonsDataCfgDAO"  init-method="init" />
	<bean class="com.playerdata.mgcsecret.cfg.FabaoBuffCfgDAO"  init-method="init" />
	<bean class="com.playerdata.mgcsecret.cfg.MagicChapterCfgDAO"  init-method="init" />
	<bean class="com.playerdata.mgcsecret.cfg.MagicScoreRankCfgDAO"  init-method="init" />
	
	<!-- 帮派秘境 -->
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretBaseCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretDiamondDropCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretResourceCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretMainRoleRecoveryCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretLevelGetResCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.groupsecret.pojo.cfg.dao.GroupSecretMemberAdditionCfgDAO"  init-method="init" />
	
	<!-- 在线帮战 -->
	<bean class="com.playerdata.groupFightOnline.cfg.GFightBiddingCfgDAO"  init-method="init" />
	<bean class="com.playerdata.groupFightOnline.cfg.GFightOnlineDamageRankDAO"  init-method="init" />
	<bean class="com.playerdata.groupFightOnline.cfg.GFightOnlineDefeatRankDAO"  init-method="init" />
	<bean class="com.playerdata.groupFightOnline.cfg.GFightOnlineResourceCfgDAO"  init-method="init" />
	<bean class="com.playerdata.groupFightOnline.cfg.GFightOnlineCostDAO"  init-method="init" />
	
	<!-- 组队战 -->
	<bean class="com.playerdata.teambattle.cfg.MonsterCombinationDAO"  init-method="init" />
	<bean class="com.playerdata.teambattle.cfg.TeamCfgDAO"  init-method="init" />
	<bean class="com.playerdata.teambattle.cfg.TeamStoreCfgDAO"  init-method="init" />
	<bean class="com.playerdata.teambattle.cfg.TBBuyCostCfgDAO"  init-method="init" />
	
	<bean class="com.rwbase.dao.sign.SignStatisticsCfgDAO"  init-method="init" />
	<!-- 怪物 -->
	<bean class="com.rwbase.dao.battle.pojo.BattleCfgDAO"  init-method="init" />
	<bean class="com.playerdata.battleVerify.MonsterCfgDao" init-method="init" />
	
	<bean class="com.rwbase.dao.store.WakenLotteryDrawCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.store.WakenLotteryRewardPoolCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fetters.pojo.cfg.dao.FetterMagicEquipCfgDao"  init-method="init" />
	<!-- 竞技场机器人 -->
	<bean class="com.rwbase.dao.arena.RobotExtraAttributeCfgDAO" init-method="init" />
	<!-- 背包容量配置表  -->
	<bean class="com.rwbase.dao.item.ItemBagCapacityCfgDAO" init-method="init" />
	<!-- 玩家战力提升称号配置表 -->
	<bean class="com.rwbase.dao.fightinggrowth.FSUserFightingGrowthTitleCfgDAO" init-method="init" />
	<!-- 玩家战力提升获取途径配置表 -->
	<bean class="com.rwbase.dao.fightinggrowth.FSUserFightingGrowthWayInfoCfgDAO" init-method="init" />
	<!--  玩家每个等级的期望英雄数量配置表 -->
	<bean class="com.rwbase.dao.fighting.ExpectedHeroStatusCfgDAO" init-method="init" />
	<!--  神器等级战力配置表 -->
	<bean class="com.rwbase.dao.fighting.FixEquipLevelFightingCfgDAO" init-method="init" />
	<!--  神器品质战力配置表 -->
	<bean class="com.rwbase.dao.fighting.FixEquipQualityFightingCfgDAO" init-method="init" />
	<!--  神器星级战力配置表 -->
	<bean class="com.rwbase.dao.fighting.FixEquipStarFightingCfgDAO" init-method="init" />
	<!--  宝石战斗力配置表 -->
	<bean class="com.rwbase.dao.fighting.GemFightingCfgDAO" init-method="init" />
	<!--  帮派技能战力配置表 -->
	<bean class="com.rwbase.dao.fighting.GroupSkillFightingCfgDAO" init-method="init" />
	<!--  法宝等级战力配置表 -->
	<bean class="com.rwbase.dao.fighting.MagicLevelFightingCfgDAO" init-method="init" />
	<!--  法宝品质战力配置表 -->
	<bean class="com.rwbase.dao.fighting.MagicQualityFightingCfgDAO" init-method="init" />
	<!--  法宝资质战力配置表 -->
	<bean class="com.rwbase.dao.fighting.MagicAptitudeFightingCfgDAO" init-method="init" />
	<!--  技能战力配置表 -->
	<bean class="com.rwbase.dao.fighting.SkillFightingCfgDAO" init-method="init" />
	<!--  神器羁绊战力配置表 -->
	<bean class="com.rwbase.dao.fighting.FixEquipFetterFightingCfgDAO" init-method="init" />
	<!--  英雄羁绊战力配置表 -->
	<bean class="com.rwbase.dao.fighting.HeroFetterFightingCfgDAO" init-method="init" />
	<!--  法宝羁绊战力配置表 -->
	<bean class="com.rwbase.dao.fighting.MagicFetterFightingCfgDAO" init-method="init" />
	<!-- 道术战力配置表 -->
	<bean class="com.rwbase.dao.fighting.TaoistFightingCfgDAO" init-method="init" />
	<!-- 时装战力配置表 -->
	<bean class="com.rwbase.dao.fighting.FashionFightingCfgDAO" init-method="init" />
	<!-- 技能监听Id修改配置表  -->
	<bean class="com.rwbase.dao.skill.SkillListenOptCfgDAO"  init-method="init" />
	<!-- 帮派争霸对阵信息配置 -->
	<bean class="com.rwbase.dao.groupcompetition.GroupCompetitionAgainstCfgDAO" init-method="init" />
	<!-- 帮派争霸阶段信息配置 -->
	<bean class="com.rwbase.dao.groupcompetition.GroupCompetitionStageCfgDAO" init-method="init" />
	<!-- 帮派争霸阶段控制信息配置 -->
	<bean class="com.rwbase.dao.groupcompetition.GroupCompetitionStageControlCfgDAO" init-method="init" />
	<!-- 帮派争霸每轮赛事的积分排名奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompScoreRewardCfgDAO" init-method="init" />
	<!-- 帮派争霸每轮赛事的排名奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompPersonalContinueWinRankRewardDAO" init-method="init" />
	<!-- 帮派争霸每轮赛事的击杀奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompPersonalKillRankRewardDAO" init-method="init" />
	<!-- 帮派争霸最后的总排名 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompGroupRewardCfgDAO" init-method="init" />
	<!-- 帮派争霸最后的冠军奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompChampionRewardCfgDAO" init-method="init" />
	<!-- 帮派争霸每场战斗的个积分奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompPersonalScoreCfgDAO" init-method="init" />
	<!-- 帮派争霸每场战斗的帮派积分奖励 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompGroupScoreCfgDAO" init-method="init" />
	<!-- 帮派争霸标准积分配置表 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompBasicScoreCfgDAO" init-method="init" />
	<!-- 帮派争霸竞猜配置表 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompGeneralCfgDAO"  init-method="init" />
	<!-- 帮派争霸时间配置 -->
	<bean class="com.rwbase.dao.groupcompetition.GCompTimeCfgDAO" init-method="init" />
	<!-- 广播配置表 -->
	<bean class="com.rwbase.dao.groupcompetition.ContinueWinsBroadcastCfgDAO" init-method="init" />
	<!-- 技能监听的配置表 -->
	<bean class="com.rwbase.dao.skill.SkillListenerCfgDAO"  init-method="init" />
	
	<!-- 随机boss -->
	<bean class="com.rwbase.dao.randomBoss.cfg.RandomBossCfgDao" init-method="init" />
	<bean class="com.rwbase.dao.randomBoss.cfg.RBServerCfgDao" init-method="init" />
	
	<bean class="com.playerdata.teambattle.cfg.TeamMatchCfgDAO" init-method="init" />
	
	<bean class="com.bm.robot.cfg.RobotFNameCfgDAO" init-method="init" />
	<bean class="com.bm.robot.cfg.RobotSNameCfgDAO" init-method="init" />
	
	<bean class="com.rwbase.dao.magicweapon.MagicSmeltMaterialCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicSmeltRateCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicAptitudeCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.magicweapon.MagicAptitudeCoefficientCfgDAO" init-method="init" />
	
	<!-- 成长基金 -->
	<bean class="com.playerdata.activity.growthFund.cfg.GrowthFundBasicCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.growthFund.cfg.GrowthFundSubCfgDAO"  init-method="init" />

	<!-- 附灵 -->
	<bean class="com.rwbase.dao.fighting.SpriteAttachFightingCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.spriteattach.SpriteAttachAttrCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.spriteattach.SpriteAttachCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.spriteattach.SpriteAttachLevelCostCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.spriteattach.SpriteAttachRoleCfgDAO" init-method="init" />
	
	
	<!-- 世界boss配置表 -->
	<bean class="com.bm.worldBoss.cfg.WBCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBAwardCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBBuyBuffCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBRankAwardCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBSettingCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBExAwardCfgDAO" init-method="init" />
	<bean class="com.bm.worldBoss.cfg.WBHPCfgDAO" init-method="init" />
	
	
	<!-- 充值排行榜 -->
	<bean class="com.playerdata.activity.chargeRank.cfg.ActivityChargeRankCfgDAO" init-method="init" />
	<bean class="com.playerdata.activity.chargeRank.cfg.ActivityChargeRankSubCfgDAO" init-method="init" />
	
	<!-- 消费排行榜 -->
	<bean class="com.playerdata.activity.consumeRank.cfg.ActivityConsumeRankCfgDAO" init-method="init" />
	<bean class="com.playerdata.activity.consumeRank.cfg.ActivityConsumeRankSubCfgDAO" init-method="init" />
	
	<!-- 申公豹驾到 -->
	<bean class="com.playerdata.activity.evilBaoArrive.cfg.EvilBaoArriveCfgDAO"  init-method="init" />
	<bean class="com.playerdata.activity.evilBaoArrive.cfg.EvilBaoArriveSubCfgDAO"  init-method="init" />
	
	<!-- 打脸图的时间配置 -->
	<bean class="com.playerdata.activity.notice.cfg.ActivityNoticeCfgDAO"  init-method="init" />
	
	<!-- 红点 -->
	<bean class="com.rwbase.dao.redpoint.RedPointMapCfgDAO" init-method="init" />
	
	<!-- 万能魂石 -->
	<bean class="com.rwbase.dao.commonsoul.CommonSoulConfigDAO" init-method="init" />
	<bean class="com.rwbase.dao.commonsoul.ExchangeRateCfgDAO" init-method="init" />

	<!-- 精准营销 -->
	<bean class="com.rwbase.dao.targetSell.BenefitAttrCfgDAO" init-method="init" />
	
	<!-- notice-->
	<bean class="com.rwbase.dao.notice.AnnouncementCfgDAO"  init-method="init" />
	
	<!-- Guidance/GuidanceClosure.csv -->
	<bean class="com.rw.service.guide.GuidanceClosureCfgDAO"  init-method="init" />
	
	<!-- 聊天禁言 -->
	<bean class="com.rwbase.dao.chat.pojo.cfg.ChatIllegalCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.chat.pojo.cfg.NotAllowedSpeechTipCfgDAO" init-method="init" />
	<bean class="com.rwbase.dao.chat.pojo.cfg.TimeOfNotAllowedSpeechDAO" init-method="init" />
	
	<bean class="com.rw.routerServer.cfg.UCGiftCfgDAO"  init-method="init" />
	<!-- 
	<bean class="com.rwbase.dao.fetters.pojo.cfg.dao.HeroFettersCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.fetters.pojo.cfg.dao.FettersSubConditionCfgDAO"  init-method="init" />
	 -->
	
	<!--  
	<bean class="com.rwbase.dao.gulid.CfgGuildIconDAO"  init-method="init" />
	<bean class="com.rwbase.dao.hero.HeroEquipStrenghCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.item.RoleEquipCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.role.QualityTypeCfgDAO"  init-method="init" />
	<bean class="com.rwbase.dao.platform.PlatformConfigDAO"  init-method="init" />
	<bean class="com.rwbase.dao.userrole.AdvanceCfgDAO"  init-method="init" />
	 -->
	
</beans>  